@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'source sans pro', sans-serif;
    background-image: url('/sportradarbg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
