@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F9EBDC;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}
